{{! Partial: Copyright }}

<section class="copyright">
    <div class="copyright-disclaimer">{{t "Copyright"}} &copy; <a href="#">{{@blog.title}}</a> {{date format="YYYY"}} <span class="copyright-bullet">&bull;</span> {{t "All rights reserved."}}</div>
    <div class="copyright-ghost">{{{t "Published with <a href='https://ghost.org/'>Ghost</a>."}}}</div>
</section>
